[2021-02-01 04:57] LMerCy opened #1 "Can df21 extract feature like cnn when used in object detection?"
Or we need to extract feature with hog/sift etc...

[2021-02-01 07:14] xuyxu commented on #1
Hi @LMerCy, thanks for the issue. If what you mean is to generating descriptors using the model, I think the answer so for is NO.

 Is there any work studying how to achieve this with forest? If exists, I would be happy to read it and try out in deep forest ;-).

[2021-02-01 07:24] pjgao opened #2 "CascadeForestClassifier for cross validation in sklearn"
`CascadeForestClassifier` class cannot be used in sklearn's `cross_val_score` directly,  maybe we can inherited from `BaseEstimator`?
Something like this:
[code]

[2021-02-01 07:28] xuyxu commented on #2
You are right ;-). I am not aware of  the ``cross_val_score`` during the initial development.

I would appreciate a pull request very much, feel free to tell me if you need any help!

[2021-02-01 07:34] JTang-qhzx opened #3 "is there deep forest regressor?"

[2021-02-01 07:40] xuyxu commented on #3
No, this version only supports binary and mutl-class classification.

Another `CascadeForestRegressor` should be easy to be plugged in, but it requires many modifications on the algorithmic-level.

[2021-02-01 07:41] morestart commented on #3
can we have a timeline to support regressor?

[2021-02-01 07:42] JTang-qhzx commented on #3
Thanks for your reply!It will be great to have a deep forest regressor like Scikit-learn.

[2021-02-01 07:46] xuyxu commented on #3
That would be really nice @morestart ! Actually, there can be some problems on implementing the extension to regression. I will open another issue latter, and call you there ;-)

[2021-02-01 08:05] xuyxu opened #4 "Support `CascadeForestRegressor` for univariate and multivariate regression"
The forest model excels at the regression problem, and tends to have a much smaller variance than GBDTs. Therefore, it would be nice if deep forest could further support univariate and multivariate regression.

**Related issue**
#3

**Possible steps on this feature request**

* [ ] Include `sklearn.RandomForestRegressor` to `sklearn.ExtraTreesRegressor` in `estimator.py`
* [ ] Implement a cascade

[2021-02-01 08:05] xuyxu commented on #3
Closed via #4

[2021-02-01 08:05] #3 closed

[2021-02-01 08:07] xuyxu commented on #4
Hi @morestart, I have created the issue on implementing deep forest regressor. Feel free to comment below if you need any help.

[2021-02-01 08:41] morestart commented on #4
thanks for your reply, i will watch this repo~

[2021-02-01 08:52] nerdylinius opened #5 "Can this library support for regression problems?"
Can this library support for regression problems?

[2021-02-01 08:55] xuyxu commented on #5
Thanks for your issue ;-)

This issue is a duplicate of #3 and #4. We will work on this!

[2021-02-01 09:05] #5 closed

[2021-02-01 10:25] jackguagua opened #6 "Are there any plans to support installation on MacOS?"
I found that the MacOS version is not yet available in the pypi repository. I wonder if there are plans to provide a mac version, or is there any way to install it manually?

[2021-02-01 10:52] xuyxu commented on #6
Hi, thanks for the issue. To use deep forest on Mac OS, here are the instructions:

[code]

The compilation should run smooth provided that you have installed X-Code, and a valid environment (It is recommended to use the pakcage environment from Anaconda).

Feel free to comment below if you have any problem during the compilation. I have tested it on MacOS Big Sur 11.1, and it looks fine after com

[2021-02-01 11:50] jackguagua commented on #6
@xuyxu Great, it does work. Thank you so much for the speedy reply.

I have been looking forward to deep-forest for a long time. My AutoML project [HyperGBM](https://github.com/DataCanvasIO/HyperGBM) based on the gbm model to achieve end-to-end full pipeline automl, currently supports xgboost, lightgbm, catboost algorithms. I am going to add CascadeForestClassifier as its built-in algorithm, and h

[2021-02-01 12:40] xuyxu commented on #6
Thanks! We would be happy to see a tool that makes hyper-parameter tunning for deep forest easier ;-) As to cooperation, you may need to contact the leader of our organization.

[2021-02-01 12:40] #6 closed

[2021-02-02 01:04] csuzhhj opened #9 "Is there a C/C++ interface? How to deploy to a real-world application scenario?"

[2021-02-02 01:42] xuyxu commented on #9
Hi, thanks for the issue. Developing a C/C++ interface would not be possible with our current workforce :-(

As to the deployment to a real-world application, the model persistence part should work well across different platforms. Let me know if you have any problem when deploying the model to your server or something else.

[2021-02-02 09:18] conan7456 opened #11 "1"

[2021-02-02 09:20] #11 closed

[2021-02-02 09:53] Qiao-27 opened #12 "Are there any way to interprete the DF21 model, like graphviz for Decision tree or SHAP for XGB?"

[2021-02-02 12:06] xuyxu commented on #12
Q1: **Is there any way to interprete the model?**
A1: Yes, you can check the structure of forest in DF21 (https://github.com/LAMDA-NJU/Deep-Forest/blob/master/deepforest/forest.py#L331). Suppose that a forest has 100 base decision trees, then
* `features` and `thresholds` are both a list of size 100, with the `i`-th element storing the splitting features / threshold used in all internal nodes in t

[2021-02-02 12:28] xuyxu commented on #11
Hi, I have read the latest comment on that webpage:

**(1) Large costs on memory and training time**
We are deeply aware that this is a problem that greatly limits the use of deep forest in many scenarios. This package has made many efforts on making it more time and memory efficient. You can check the [experiments](http://www.lamda.nju.edu.cn/deep-forest/experiments.html). On HIGGS dataset (a ben

[2021-02-02 12:44] NiMaZi opened #13 "Can CascadeForestClassifier.predict() return the original class labels instead of 0/1?"
Trying the basic tutorial:

[code]
And get:
[code]

This is because the class labels are made into "101", "102", "103", ..., instead of "1", "2", "3",... .
But the predict() function (or the model itself) could not deal with these labels.

Is it possible to let the CascadeForestClassifier.predict() function use the original class label (e.g., "101" instead of "1")? It is the basic feature of sklea

[2021-02-02 12:50] xuyxu opened #14 "Feature Requests"
This issue collects all features requests. Any one is welcomed to work on issues listed below, and do not forget to include your contributions and name in the `CHANGELOG.rst`.

If you want to work on a requested feature, please re-open the linked issue, and leave a comment below to let us know that you want to work on it.

### New features
* [x] `CascadeForestRegressor` class for regression proble

[2021-02-02 12:53] tczhao opened #15 "Set up the pre-commit workflow for automatic formatting on code style"
Maybe we can add a formatter like black in the Makefile and gitaction to make life easier for developer.
What do you think?

[2021-02-02 12:55] xuyxu commented on #13
Thanks for your issue and suggestions! I agree with you that it would be better if `CascadeForestClassifier` can support an internal label encoder. I will add this feature request in the pinned issue, and are you willing to work on this? Help from the community is always welcomed ;-)

[2021-02-02 13:01] xuyxu commented on #15
I thinks this is reasonable since many open source project uses the black coding style. Is it able to incorporate the black formatter in our `code-quality` CI? The ideal case in my mind is that the CI server will automatically conduct the formatting and flake8 checking.

[2021-02-02 13:16] tczhao commented on #15
We can add it to CI, we have that in our private repo in bitbucket, should be similar.
Additionally, we can leverage pre-commit to help us format codes before commit
https://ljvmiranda921.github.io/notebook/2018/06/21/precommits-using-black-and-flake8/

[2021-02-02 13:36] xuyxu commented on #15
Sounds great, I would appreciate it very much if you could set the pre-commit workflow for this project :-)

[2021-02-02 13:39] tczhao commented on #15
Sure, will work on it at the weekend

[2021-02-02 13:42] xuyxu commented on #15
Let me know if you need any help

[2021-02-02 15:03] xuyxu commented on #12
Closed via issue #14

[2021-02-02 16:20] tczhao commented on #14
I will work on the #4 regressor task

[2021-02-03 02:10] xuyxu commented on #4
Closed via issue #14. Hi @morestart, let me know if you have made any progress. Supporting regression will be our central target recently, and we are willing to have more people join in ;-)

[2021-02-03 02:10] #4 closed

[2021-02-03 02:44] xuyxu commented on #14
That would be really nice @tczhao! Adding the regressor requires many efforts, can you open a draft pull request and upload what you have done there? I am willing to take part in the development on this feature request and have some deeper discussions there.

 In addition, here are some things that may be helpful to you:
* For regression, the augmented features are out-of-bag predicted values from

[2021-02-03 13:21] xuyxu commented on #13
I will work on this feature request ;-)

[2021-02-03 13:23] xuyxu commented on #2
Closed via PR #8

[2021-02-03 13:23] #2 closed

[2021-02-03 16:03] xuyxu commented on #13
Hi @NiMaZi, are you working on this feature request? I am much willing to leave this feature request to you, I can then work on other parts ;-)

[2021-02-03 16:30] NiMaZi commented on #14
I'm working on #13

[2021-02-03 16:37] NiMaZi commented on #13
Yes, I am working on it.

Yi-Xuan Xu <notifications@github.com> 于2021年2月3日周三 下午5:04写道：

[2021-02-04 03:40] ianforme opened #19 ".fit() not working when dataset contains bool variables"
I have a dataset with ~500 variables. Some are boolean variables. I had these error when try to fit the model

`TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''`

And when I fit the model without these boolean variables, it worked.

[2021-02-04 03:43] xuyxu commented on #19
Hi, thanks for the issue! Could you provide more traceback information so that I can locate where goes wrong

[2021-02-04 03:44] ianforme commented on #19
3 for X_train, X_test, y_train, y_test in tqdm(dfs):
----> 4     model.fit(X_train.values, y_train.values)
      5
      6     preds = model.predict_proba(X_test)[:,1]

~\Anaconda3\envs\ndd\lib\site-packages\deepforest\cascade.py in fit(self, X, y)
    437
    438         # Bin the training data
--> 439         X_train_ = self._bin_data(binner_, X, is_training_data=True)
    440         X_train_ =

[2021-02-04 03:51] xuyxu commented on #19
Thanks! Another question is that what is the data type of your input to the model `X_train.values`?

 I am going to check that whether `np.isnan` has problems on handling your data type.

[2021-02-04 03:52] ianforme commented on #19
X_train is a pandas dataframe with bool, float and integer data types. Thanks for the help

[2021-02-04 04:13] xuyxu commented on #19
I think the problem is that `np.isnan` cannot properly handle the array of `X_train.values`, which is an array of the type `object` because of the mixed data types in the dataframe.

Can you verify that if using the following casting methods instead of directly calling `model.fit(X_train.values, y_train.values)` works:

[code]

The data type used internally is always `np.uint8`, and I think tempor

[2021-02-04 09:37] Mr-memorandum opened #20 "Buffer dtype mismatch"
调用数据集训练出现错误：
 File "deepforest/_cutils.pyx", line 59, in deepforest._cutils._map_to_bins
  File "deepforest/_cutils.pyx", line 76, in deepforest._cutils._map_to_bins
ValueError: Buffer dtype mismatch, expected 'const X_DTYPE_C' but got 'long'

[2021-02-04 10:54] xuyxu commented on #20
Hi @Mr-memorandum, thanks for reporting! It looks like the binner cannot handle your input data properly.

What is the type and size of your input data? If your input data is a numpy array, you can use `data.dtype` and `data.shape` to get the answer.

[2021-02-05 01:57] Mr-memorandum commented on #20
thanks for your help, by using ``data.dtype`` and `` data.shape``, the return value is this :
<class 'numpy.ndarray'>
(7813, 15)
int64

[2021-02-05 02:39] xuyxu commented on #20
We should support more data types. For now, you can use `data = data.astype(np.float)` before calling `fit` to avoid the problem.

Thanks for reporting! I will mark it as a feature request ;-)

[2021-02-05 05:15] #15 closed

[2021-02-07 07:59] xuyxu commented on #20
Hi @Mr-memorandum, the version 0.1.1 should fix this issue.

Thanks for reporting, and feel free to open another issue if you still have any problem ;-)

[2021-02-07 07:59] xuyxu commented on #20
closed via pr #23

[2021-02-07 07:59] #20 closed

[2021-02-07 08:58] xuyxu commented on #13
Closed via PR #18.

[2021-02-07 08:59] #13 closed

[2021-02-08 15:14] tczhao commented on #14
Thanks, will have a draft ready in 2 days

[2021-02-09 17:55] Maryom opened #26 "Custom CascadeForestClassifier"
Hey,

Thanks for your awesome repo.

I have a question if you don't mind could you please give me an example on how to change RandomForestClassifier and ExtraTreesClassifier in the CascadeForestClassifier?

[2021-02-10 03:11] xuyxu commented on #26
Hi @Maryom, thanks for the issue. In order to change the base estimator and get it work, here are three steps you need to do:

* you need to include it in the `deepforest/_estimator.py`, and the class of your estimator should implement some basic methods on training and evaluating, such as `fit`, `predict`, `predict_proba`.
* you should check that whether your estimator supports **out-of-bag estim

[2021-02-10 06:17] Maryom commented on #26
Thanks @xuyxu for your help I appreciate it. I need to add `XGBoost` I will try with it.

I have one more question if you don't mind: in the code is there a way to access `Multi-Grained Scanning`?

[2021-02-10 08:01] xuyxu commented on #26
If these are what you want, you can try out the original implementation: [gcForest](https://github.com/kingfengji/gcForest), it already has the `XGBoost` estimator and multi-grained scanner implemented. The purpose of this repo is to provide an time and memory efficient implementation of deep forest, mainly for tabular datasets. We are currently working on the scanner (PR #17), but there is still

[2021-02-10 08:25] Maryom commented on #26
Great thank you so much

[2021-02-10 09:41] xuyxu commented on #26
feel free to reopen the issue if you have any other problem ;-)

[2021-02-10 14:02] Maryom commented on #26
Thank you so much I appreciate it. I added `XGBClassifier` successfully but if you don't mind can I tell you the changes I did? I wanna double check with you please.

Here are the changes:
In `deepforest/forest.py` I added the following:

[code]
In `deepforest/_estimator.py` I added the following:

[code]

[2021-02-10 14:35] xuyxu commented on #26
Hi @Maryom, I think there is no need to create another class `XGBClassifier` in `forest.py` since we are going to use the `XGBClassifier` from the XGBoost package, right?

What's missing is the implementation on the `oob_decision_function_` property used in Line 62 of `_estimator.py`. To implement the idea, you should wrap the `XGBClassifier` with another class, for example `XGBClassifierWrapper`:

[2021-02-10 14:53] tczhao commented on #14
maybe we can skip the `Build wheels for Python 2.7` since python 2.7 is no longer maintained since 2020-01

[2021-02-10 15:14] xuyxu commented on #14
Wheels for Python 2.7 is not included in the [CI on build wheels](https://github.com/LAMDA-NJU/Deep-Forest/blob/master/.github/workflows/build-wheels.yml#L28), I have created an individual branch for people of interests ;-)

[2021-02-10 16:00] Maryom commented on #26
Thank you so much this is really helpful. It worked but there is a missing `)` at the end of this line:
`self.estimators.append(XGBClassifier(other_args_for_XGBClassifiers)`

Thanks again 🙏🏼

[2021-02-11 01:02] eladmw opened #27 "GPU Support"
Considering the number of aggregations from each model in each layer, it would be nice to train the models faster

[2021-02-11 02:29] xuyxu commented on #27
Hi @eladmw, thanks for your suggestions.

Do you have any good material on the GPU forest? It would be impossible to implement the GPU version from scratch with our current workforce.

[2021-02-11 07:08] davidlkl commented on #14
Hi,

Thanks @tczhao for the hard work!

Is it also possible to extend the regressor to cover custom loss (e.g. tweedie loss) like the other libraries?

Thanks
David

[2021-02-11 07:41] xuyxu commented on #14
I think it is relatively easy to add the Mean Absolute Error (MAE), which is also available in [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html). For custom loss functions, a new splitting criterion should be implemented for decision trees.

Maybe we can add another parameter to `CascadeForestClassifier` and `CascadeForestRegression` (e.g

[2021-02-11 18:36] eladmw commented on #27
Looks like there's many references to XGBRegressor, which has compatibility with GPUs. I skimmed so correct me if I'm wrong, but I think that you can do XGBRegressor(tree_method='gpu_hist', gpu_id=0), or feed the params into the training interface with a dict setting :
param['gpu_id'] = 0
param['tree_method'] = 'gpu_hist'

[2021-02-11 23:06] tczhao opened #29 "Generic cascade structure"
Maybe at some point, we can refactor and allows user supplying custom models for the layers

[2021-02-12 02:59] xuyxu commented on #29
Thanks for your suggestions. Any idea on how to make the feature easy-to-use?

The code snippet implements a wrapper for XGB model, which should also work if we want to use other models.

[code]

[2021-02-12 05:09] xuyxu commented on #27
Thanks @eladmw!

I think the first step we need to take is to support customized base estimators in the layer (see issue #29). After then, we can make it compatiable with the GPU version of XGB model. Let's keep this issue open for a while ;-)

[2021-02-12 05:35] xuyxu opened #30 "Better Documentation"
Thanks to the contributors, many new features have been developed. As a result, the current version of documentation could be ambiguous, and requires more explanation or demonstration.

This issue collects suggestions on the documentation. Any one is welcomed  to improve the readability of the documentation. For contributors unfamiliar with our workflow on building the documentation, please refer

[2021-02-12 06:25] dwaipayan05 commented on #30
I've added a Pull Request #31 , can you link the PR to this issue and review the changes.

[2021-02-12 06:38] xuyxu commented on #30
Done.

[2021-02-12 11:56] morestart opened #32 "can't install package use conda env"
ERROR: Could not find a version that satisfies the requirement deep-forest (from versions: none)
ERROR: No matching distribution found for deep-forest

system: mac
python version: 3.8.5
pip version: 20.2.4

[2021-02-12 11:58] xuyxu commented on #32
Did you use the command `pip install deep-forest`? This package is not available via `conda install deep-forest`

[2021-02-12 12:10] morestart commented on #32
yes , i use  pip to install this package, but i use conda create this env...

[2021-02-12 12:13] xuyxu commented on #32
Thanks for reporting @morestart. Could you give me the command on creating the virtual environment, I will figure out if this problem is reproducible.

[2021-02-12 12:14] morestart commented on #32
i create this env by pycharm project create

[2021-02-12 12:19] xuyxu commented on #32
I think I know what's wrong, wheels for mac-os are not available yet, and you need to build the package from source. You can refer to this issue #6. Feel free to tell me if you have any problem on building the package from source.

[2021-02-12 13:02] xuyxu commented on #20
@all-contributors please add @Mr-memorandum for bug

[2021-02-12 13:35] T-Allen-sudo commented on #14
I will work on the package for Mac-OS (#6, #32)

[2021-02-12 13:37] xuyxu commented on #14
Thanks ;-). You may find the [documentation on cibuildwheel](https://cibuildwheel.readthedocs.io/en/stable/) helpful when working on the CI: build-wheels.

[2021-02-12 16:53] xuyxu commented on #32
Hi @morestart, we have uploaded the wheel for Mac-OS. Now you can install it via `pip install deep-forest`.

Feel free to reopen the issue if there is any problem ;-)

[2021-02-12 16:53] #32 closed

[2021-02-13 03:16] morestart commented on #32
thanks very much!

[2021-02-13 16:45] Maryom commented on #12
Hey,
Is there an example code on how to interprete DF21 with SHAP?

[2021-02-14 03:02] xuyxu commented on #12
After taking a look at this [page](https://shap.readthedocs.io/en/latest/example_notebooks/tabular_examples/tree_based_models/Example%20of%20loading%20a%20custom%20tree%20model%20into%20SHAP.html), I think there should be no problem if we are going to implement some methods on exporting the tree information in DF21 to SHAP.

[2021-02-14 05:11] xuyxu commented on #12
Are you willing to take part into the development of this feature request @Maryom, @Qiao-27 😄? After a quick discussion with the team members, we think that improving the interpretability of DF21 should be a top priority.

[2021-02-14 07:57] Maryom commented on #12
@xuyxu Hey I will try with it by following the steps in [page](https://shap.readthedocs.io/en/latest/example_notebooks/tabular_examples/tree_based_models/Example%20of%20loading%20a%20custom%20tree%20model%20into%20SHAP.html)
if there any addition steps please let me know.

[2021-02-14 09:28] Maryom commented on #12
Hey,

Could you please make DF21 compatible with python 3.8.2? because I'm a Mac user and SHAP needs python 3.8.2 to run on Mac.

I'm trying to run: `pip3 install --verbose -e .` on Deep-Forest directory and I got the following error:

Before I was able to run it successfully with python 3.9.1 but now I need to use python 3.8.2

[2021-02-14 09:58] xuyxu commented on #12
Hi @Maryom, could you delete the pyproject.toml in the home diertory and re-install the package in the editable mode?

[2021-02-14 10:13] Maryom commented on #12
Hi @xuyxu after deleting pyproject.toml  I got the following errors:

[code]

[2021-02-14 10:20] xuyxu commented on #12
what is the version of your cython and numpy package?

[2021-02-14 10:25] Maryom commented on #12
numpy version is 1.20.1 because SHAP needs this version.

cython version is 0.29.21

[2021-02-14 10:32] Maryom commented on #12
Okay after I downgraded numpy I got `Successfully installed deep-forest` However now I'm NOT able to run SHAP because it needs numpy version 1.20.1.

Any solution please?

[2021-02-14 10:40] xuyxu commented on #12
I think we can safely use a lower version of shap that only requires Numpy 1.19 :-)

[2021-02-14 10:57] Maryom commented on #12
It worked perfectly with SHAP 0.37.0

[2021-02-14 10:59] xuyxu commented on #12
Great! I will open a PR latter, and list several steps we are going to do there 😄. Thanks

[2021-02-14 12:10] Maryom commented on #12
@xuyxu Nice, I hope we will add SHAP support ASAP 🙏🏼

[2021-02-14 13:31] xuyxu commented on #12
cc @Maryom

#### Steps:
* [ ] Implement the tree explainer for a single forest in deep forest
* [ ] Implement the explainer for the entire deep forest model
* [ ] Implement the tree explainer for the entire deep forest model **(Optional)**

It may be a good choice to start with the first step. You can create a file in `deepforest/` named `_explainer.py` and here are some docstrings on the method u

[2021-02-16 08:26] Alex-Medium commented on #30
I think it would be much better to have a page with following things:
* a tutorial on DF21 model
* roles of different parameters in DF21 model

[2021-02-17 16:50] MAbderrahmane opened #37 "Multi-Grained Scanning implementation"
Is this implementation support Multi grained scanning ?
Note : M.G.S is the first part of Gcforest

[2021-02-17 16:54] Maryom commented on #26
Hello again,

Sorry for bothering I need to check that `XGBClassifiers` is correctly added, because when I ran:
`xgb_forest = model.get_forest(0, 0, "xgb")`

I got the following error:
[code]

Here the files I changed to add `XGBClassifiers`:
In `deepforest/_estimator.py` I added:
[code]

In `deepforest/forest.py` I added:

[code]

Did I miss something?

[2021-02-18 02:03] xuyxu commented on #37
Hi @MAbderrahmane, please refer to the third comment in issue #26.

[2021-02-18 02:03] #37 closed

[2021-02-18 02:13] xuyxu commented on #26
Hi @Maryom, you should further change the method [get_forest](https://github.com/LAMDA-NJU/Deep-Forest/blob/master/deepforest/cascade.py#L974) in `cascade.py` if you are interested in a single base estimator. The current implementation of the `get_forest` method is incompatible with customized base estimators.

[2021-02-18 08:15] Maryom commented on #26
Hey @xuyxu Thanks 🙏🏼 I changed it and I got the following error:

[code]

[2021-02-19 04:09] xuyxu commented on #26
Could you print out the keys and values of the dictionary `layers.estimators`?

[2021-02-19 08:44] Maryom commented on #26
Here are:

[code]
It seems XGBoost is NOT there, could you please guide me where else I have to modify the code?

[2021-02-19 08:47] xuyxu commented on #26
Try set the forest_type of 'get_forest' as either 'rf' or 'erf', I think the result is your xgb estimator :-)

[2021-02-19 08:56] Maryom commented on #26
I already check it here:

[code]

I have a question if you don't mind: why `layers.estimators` just has four forest, although I added:
[code]

[2021-02-19 12:01] xuyxu commented on #26
You can check the use of `__all__` [here](https://stackoverflow.com/questions/44834/can-someone-explain-all-in-python). It does NOT have any effect on the number of base estimators in each cascade layer. You can change the value of `n_estimators` (default is 2) in order to change the number of base estimators in each layer.

[2021-02-19 12:05] Maryom commented on #26
Thanks 🙏🏼 but I don't need to change the number of estimators. I need to add `XGBClassifier`.

Why `XGBClassifier` is NOT in the dictionary `layers.estimators`?

[2021-02-19 12:09] xuyxu commented on #26
Could you open source your code after modification as a personal Repo and link it here, so that I can take a careful look ;-)

[2021-02-19 12:16] Maryom commented on #26
Here is [the repo.](https://github.com/Maryom/DF21.git) Thanks for your help I appreciate it 🙏🏼

[2021-02-20 12:35] bigrat911 opened #38 "Documentation is unable to access"
Document like https://deep-forest.readthedocs.io/en/latest/how_to_get_started.html is not available

[2021-02-20 12:38] xuyxu commented on #38
Hi @bigrat911, thanks for reporting! You should replace `latest` with `master`.

Besides, where did you find this link? We will give a proofread on the entire documentation and fix these links.

[2021-02-21 02:59] xuyxu commented on #26
Hi @Maryom, sorry for my late response. Could you further upload a running script in the root directory, so that I can better understand the entire workflow ;-)

[2021-02-21 11:23] Maryom commented on #26
It's totally fine I really appreciate your help 🙏🏼 Kindly check [the repo.](https://github.com/Maryom/DF21) I added: `tests/test_xgb.py`

[2021-02-21 14:32] zhenlingcn opened #41 "Error: could not allocate 0 bytes"
When I was using this package, I experienced the following problem. According to my observation, there is still a lot of available memory. Thus, what's the problem?

[code]

[2021-02-21 14:35] xuyxu commented on #41
Hi @zhenlingcn, thanks for reporting! Could you print out the data type and shape of your training data, so that we can reproduce the problem.

[2021-02-21 14:47] zhenlingcn commented on #41
Yeah, it's very easy to reproduce this problem. We just need to run the following codes:
[code]

[2021-02-21 14:56] zhenlingcn commented on #41
By the way, I want to point out that some other normal data has also raised this error.

[2021-02-21 14:57] xuyxu commented on #41
Thanks @zhenlingcn, I can reproduce your problem. I will take a careful look latter.

[2021-02-21 15:04] xuyxu commented on #41
This code snippet runs fine:

[code]

If you want to use DF21 on the fly, could you check if there is a problem after converting the type of `y_train` into `np.float64`.
We will check where goes wrong when using the target values of type `np.float32`.

[2021-02-21 15:06] xuyxu commented on #41
@all-contributors please add @zhenlingcn for bug

[2021-02-21 17:23] zhenlingcn commented on #41
I don't believe I can solve the problem by simply modifying the data type. In fact, in the given case, it will still raise an error even if we change the type of the data.

[2021-02-21 22:44] xuyxu commented on #41
I agree. Besides, what is the result using the following command on your target values:

[code]

When `y_train` is `np.zeros(10, dtype=np.float32)`, the result is `binary`, which is not compatible with `CascadeForestRegressor`.

[2021-02-23 08:12] xuyxu commented on #41
Hi @zhenlingcn, I will appreciate it if your could test whether the latest PR #44 raises the same error for your problem. The wheels are available at [here](https://github.com/LAMDA-NJU/Deep-Forest/actions/runs/591842537).

[2021-02-24 07:52] zhenlingcn commented on #41
I don't believe the latest PR is an appropriate solution. For example, the following test case is a very reasonable test case. However, the latest version of Deep Forest will raise an error.
[code]

[code]

[2021-02-24 08:00] xuyxu commented on #41
Thanks for your feedback, will take a look at the Cython side when I get a moment.

[2021-03-01 06:22] zhenlingcn commented on #41
In fact, this problem has hindered me to conduct several comparative experiments. I hope this problem can be solved as soon as possible.

[2021-03-01 06:26] xuyxu commented on #41
Sorry for your problem. Could you check if using the sklearn backend works?

[code]

[2021-03-01 07:07] zhenlingcn commented on #41
It's great! The sklearn backend seems to work well.

[2021-03-01 07:08] xuyxu commented on #41
Glad to here that 😄

[2021-03-02 05:22] zhenlingcn opened #45 "ValueError: Number of features of the model must match the input. Model n_features is 9 and input n_features is 13"
It seems that the latest version of deep forest has some bugs in terms of "sklearn" backend. I don't know the exact reason, but it seems that there may exist transformation errors in the deep forest package, which makes the data dimensions unmatched in fitting and prediction steps.

[2021-03-02 05:24] xuyxu commented on #45
Hi @zhenlingcn, thanks for reporting! Could you provide some codes on reproducing the problem? I will take a look.

[2021-03-02 07:52] zhenlingcn opened #46 "Is it possible to support the Arm processor?"
Currently, there are a lot of devices that are running on Arm processors. Thus, supporting the Arm processor is a good idea to allow the deep forest to have much wider application prospects.
![image](https://user-images.githubusercontent.com/18747119/109615489-eb588c80-7b6e-11eb-83d6-828406f7d548.png)

[2021-03-02 07:57] xuyxu commented on #46
Hi @zhenlingcn, this should be easy to implement. Could you provide the name of your platform on cibuildwheels https://cibuildwheel.readthedocs.io/en/stable/?

[2021-03-02 08:34] zhenlingcn commented on #46
manylinux aarch64

[2021-03-03 01:29] xuyxu commented on #46
One question about supporting manylinux aarch64: It looks like [scikit-learn](https://pypi.org/project/scikit-learn/#files) does not officially support manylinux aarch64 as well. Did you build the scikit-learn package from source on your platform?

[2021-03-03 04:02] zhenlingcn commented on #46
I'm not so sure whether scikit-learn officially supports aarch64. I installed it on my server using Conda, and the address of the package repository is [link](https://conda.anaconda.org/conda-forge/linux-aarch64/).

[2021-03-03 06:11] #46 closed

[2021-03-03 06:31] xuyxu commented on #19
Closed due to inactivity.

[2021-03-03 06:31] #19 closed

[2021-03-03 06:32] xuyxu commented on #1
Closed due to inactivity.

[2021-03-03 06:32] #1 closed

[2021-03-03 06:32] xuyxu commented on #9
Closed due to inactivity.

[2021-03-03 06:32] #9 closed

[2021-03-03 06:32] xuyxu commented on #38
Closed due to inactivity.

[2021-03-03 06:32] #38 closed

[2021-03-04 01:12] niliy opened #49 "安装 DF21的问题"
anaconda中安装，确认所需库的版本号正确，运行例子时出现“ numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 192 from PyObject”，请问这是为什么

[2021-03-04 01:17] xuyxu commented on #49
Hi @niliy, could you show me the version of all packages in `requirements.txt`?

[2021-03-04 02:10] niliy commented on #49
conda 4.9.2
scikit-learn              0.24.1
numpy                     1.14.5
numpy-base                1.14.5
numpydoc                  1.1.0
scipy                     1.1.0
joblib                    1.0.1

[2021-03-04 02:13] niliy commented on #49
报错的详细内容如下：
ValueError                                Traceback (most recent call last)
<ipython-input-1-603b3c2d3a60> in <module>
----> 1 from deepforest import CascadeForestClassifier

~\Anaconda3\lib\site-packages\deepforest\__init__.py in <module>
----> 1 from .cascade import CascadeForestClassifier, CascadeForestRegressor
      2 from .forest import RandomForestClassifier, RandomForestRegresso

[2021-03-04 02:52] xuyxu commented on #49
Thanks, I can reproduce the problem. It looks like updating numpy solves your problem?

[code]

[2021-03-04 11:33] niliy commented on #49
Python  3.6.4
conda   4.4.10
joblib                    1.0.1
numpy                     1.19.5
scipy                     1.5.4
scikit-learn              0.24.1
这样的配置可执行，感谢您的回复

[2021-03-04 11:34] xuyxu commented on #49
Feel free to open another issue if you have any problem :-)

[2021-03-04 11:34] #49 closed

[2021-03-05 03:54] chendingyan opened #50 "CascadeForestRegressor的参数predictor选择lightgbm无效"
如果在参数中通过model.set_params(dict)设置use_predcitor =Ture, predictor = 'lightgbm'，实际上在模型中依然predictor为forest

[2021-03-05 04:44] xuyxu commented on #50
Thanks @chendingyan, I can reproduce this. This problem roots in the inconsistency on the variable name of predictor: [Link](https://github.com/LAMDA-NJU/Deep-Forest/blob/master/deepforest/cascade.py#L509).

[2021-03-05 04:45] xuyxu commented on #50
@all-contributors please add @chendingyan for bug

[2021-03-05 05:50] #50 closed

[2021-03-05 06:29] chendingyan commented on #14
Hi @xuyxu ,
I found that in the current master branch, input y value will be checked by "deepforest.cascade._check_target_values". But when I input a sequence of integers as y value, it will be defined as "multiclass" instead of "continuous".  In my point of view, y value in regression problem can be float number or integer number. It may cause big error in the future.
The images is the example fr

[2021-03-05 06:31] xuyxu commented on #14
Hi @chendingyan, I agree with you on this point, the current check may be too strict. Any idea on how to improve this?

[2021-03-05 06:46] chendingyan commented on #14
Hi @xuyxu ,if you use "type_of_target" to check for input y values, I might add multiclass and multiclass-multioutput for univariate and multivariate regression, and also check the value in numpy array is numeric.

[2021-03-05 06:49] xuyxu commented on #14
That's a nice idea, and this should be easy to implement. I will appreciate it very much if you could contribute a RR for this enhancement ;-)

[2021-03-05 08:51] chendingyan commented on #14
Submit a PR~

[2021-03-05 10:39] chendingyan commented on #14
Hi @xuyxu , can you help me check my pr? How can I pass the code quality check?

[2021-03-05 10:40] xuyxu commented on #14
Thanks for the PR @chendingyan, I will fix the code quality problem.

[2021-03-05 12:03] xuyxu opened #55 "Call for User Report"
As stated in the [documentation](https://deep-forest.readthedocs.io), the goal of this package is to:

**Provide users with an effective and powerful option to traditional tree-based ensemble models such as random forest and gradient boosting decision tree.**

In order to prompt the use of deep forest, and make this package progress towards another popular option when you are considering to use tr

[2021-03-05 12:49] xuyxu commented on #45
Hi @zhenlingcn, I met the similar problem if the entire model only has one cascade layer. Could you check if this is also the case in your problem?

[2021-03-06 14:34] learningelectric opened #57 "Please !!!! I need implement a Model of Multi Inputs Multi Outputs, but I do not know how to do it."
你好！
请问我想知道DF21的CascadeForestRegressor或者是CascadeForestClassifier支持输出多个特征吗？（eg:多输入=》model=》多维度的输出）

Hello!
I am very glad to find your greatful and useful work, But I want to know how to implement the Model of Multi Inputs Multi Outputs in DF21 . I really need it in my environment. Can you help me ?
Please

[2021-03-06 14:37] xuyxu commented on #57
Hi @learningelectric, you can check the docstrings of `fit` in our [API  Reference](https://deep-forest.readthedocs.io/en/stable/api_reference.html). Multi-output Regression and Multi-class classification are both supported.

[2021-03-07 02:47] learningelectric commented on #57
I really really thank you very much! You are a good man !

[2021-03-07 03:18] #57 closed

[2021-03-07 05:36] xuyxu commented on #26
Hi @Maryom, please check our latest PR #48 ;-)

[2021-03-07 05:40] #45 closed

[2021-03-09 13:22] learningelectric opened #60 "Please help me!"
mod=model.get_layer_feature_importances(layer_idx=0)
print(mod)

RuntimeError: Please use the sklearn backend to get the feature importances property for each cascade layer.

I want to get layer feature importances, but I donot know how to get it .

[2021-03-09 13:25] xuyxu commented on #60
You need to set the parameter `backend` to `"sklearn"` when instantiating the `CascadeForestClassifier` or `CascadeForestRegressor`.

[2021-03-09 13:29] learningelectric commented on #60
OK ,I see, Thank you very much!

[2021-03-11 07:34] #29 closed

[2021-03-12 11:35] xuyxu commented on #30
Sorry for my late response @Alex-Medium, I am not aware of your comment.

That would be great, we are going to set up another page under the section `Advanced Topics` that illustrates the model architecture and the meaning of different parameters.

[2021-03-13 03:28] Lizheng068 opened #61 "Multi-grained scanning part still exist?"
Hi.  I want to set the size of the sliding window, but I did not find the code of multi-grained scanning part in DF21. Does the function of multi-grained scanning part exist in DF21? If so, where can I find the corresponding file? Also, I wonder, do subcascades of each cascade still exist, e.g., Level 1A, Level 1B, Level 1C. Look forward to your help. Thank you!

[2021-03-13 05:40] xuyxu commented on #61
A duplicate of issue #26. Implementing multi-grained scanning is not our main target for now.

[2021-03-13 05:40] #61 closed

[2021-03-15 06:47] zhuang-hao-ming commented on #26
Hello @xuyxu , Is the functionality of scanner same as multi-grained scanner in the paper? It seems that it is available now.

[2021-03-15 06:51] xuyxu commented on #26
Thanks for your interests @zhuang-hao-ming. No, there is still a long way to go before supporting the scanner part. Please refer to the original repo if you want to use the scanner part for now.

[2021-03-15 06:52] xuyxu commented on #26
Closed via #48.

[2021-03-15 06:52] #26 closed

[2021-03-15 07:34] zhuang-hao-ming commented on #26
Thanks for your response. Is it possible that i use the original repo for getting multi-grain feature. and use these feature in this new repo for training?

[2021-03-15 07:46] xuyxu commented on #26
I think this should work since the scanner and cascade forest part are decoupled ([See Here](https://github.com/kingfengji/gcForest/blob/master/lib/gcforest/gcforest.py#L24)). I will appreciate your feedback very much if you are going to try out this pipeline ;-)

[2021-03-16 06:08] zhuang-hao-ming commented on #26
It seems that is is difficult to directly integrate the scanner from gcForest with the cascade forest in Deep-Forest. When considering multi-grain features, the trainning data is composed of current feature and different level feature from scanner.

[2021-03-16 06:13] xuyxu commented on #26
Thanks for reporting @zhuang-hao-ming. From my point of view, it is somehow weird to use tree-based methods on structured datasets like images, since it is not likely that they could perform better than CNNs. Besides, the starting point of this repo is to develop an efficienct version of deep forest for **tabular datasets**. As far as I know, none of existing tree-based methods is equipped with ad

[2021-03-16 06:31] zhuang-hao-ming commented on #26
@xuyxu Thanks for your response.
Perhaps, when processing images data, it is a more reasonable choice to use CNN to extract features and then use deep forest for classification.

[2021-03-16 06:36] xuyxu commented on #26
According to my experiments, using a CNN as a feature extractor in combination with a standalone predictor like deep forest is less effective than directly optimizing a CNN with a very simple clasifier appended (e.g., a linear layer plus softmax normalization).

[2021-03-16 17:18] niliy opened #62 "报错"
TypeError: unhashable type: 'slice'
输入的数据是纯数字数据，样本个数与标签匹配，不知道为何会报错。期待并感谢您的回复。

[2021-03-17 01:34] niliy commented on #62
以上报错已解决
另外请问下深度深林的输入数据格式是什么样的呢，是原始一维度数据点+标签吗（1*n）？看了下原理介绍，都是这样的，然而参考的代码都是样本特征值+标签(m*n)？

[2021-03-17 02:03] xuyxu commented on #62
Glad to hear that @niliy. The input format of training data is `(n_samples, n_features)`, while that of training label is `(n_samples,)`. Besides, `CascadeForestRegressor` also accepts training label of the format `(n_samples, n_outputs)`, i.e., the multi-output regression problem.

FYI: You can check the docstrings of `fit` method in our [API Reference](https://deep-forest.readthedocs.io/en/stabl

[2021-03-20 04:31] zshgostop opened #63 "A problem :Size of weights must equal to number of rows"
When I fit the models, an error raises :
  Check failed: weights_.Size() == num_row_ (385683 vs. 308546) : Size of weights must equal to number of rows.
I have checked the source code of kfoldwrapper, and I find that ：
![image](https://user-images.githubusercontent.com/48615178/111858851-13216000-8977-11eb-9742-30300371100c.png)
Maybe the “sample_weight” should be “sample_weight[train_idx]" ? Othe

[2021-03-20 04:44] xuyxu commented on #63
Hi @zshgostop, I think you are right on this point, will appreciate a PR fixing this very much ;-)

[2021-03-20 04:45] xuyxu commented on #62
Closed due to inactivity.

[2021-03-20 04:45] #62 closed

[2021-03-21 05:12] xuyxu commented on #63
@all-contributors please add @zshgostop for bug

[2021-03-21 06:20] #63 closed

[2021-04-12 12:36] LX-Zheng opened #68 "completely-random tree forests"
I have a question if I want to build a completely-random tree forests should I use ExtraTreesClassifier and how I set max_features?

Thanks for your help

[2021-04-12 12:48] xuyxu commented on #68
Hi @long11020, if you are referring to completely random tree, the corresponding estimator should be [RandomTreesEmbedding](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomTreesEmbedding.html), in which each internal node will random select a feature and threshold for splitting. Notice that this is an estimator used in the unsupervised setting.

`ExtraTreesClassifier` is s

[2021-04-13 00:06] long11020 commented on #68
Random forest and complete random forest are included in multi-grained-scanning. Which classifier should I use to realize complete random forest?

Thanks for your help

[2021-04-13 04:36] xuyxu commented on #68
`RandomForestClassifer` and `ExtraTreesClassifier` [(Reference)](https://github.com/kingfengji/gcForest/blob/master/examples/demo_mnist-gc.json).

[2021-04-13 05:10] long11020 commented on #68
Thank you so much

[2021-04-13 07:05] #68 closed

[2021-04-19 07:52] #41 closed

[2021-04-20 06:46] yunwezhang opened #71 "Survival models"
Hi maintainer,

I am wondering is that possible to cascade random survival forest (maybe a sksurv model) instead of RF in your deep forest model? As in #48, it seems that the supported model types are classification and regression. (or did I miss some parts of those tutorial docs?)

Thanks.

[2021-04-20 11:34] xuyxu commented on #71
Hi @yunwezhang, after walking through the [example](https://scikit-survival.readthedocs.io/en/latest/user_guide/random-survival-forest.html) on random survival forest in sksurv, I think the biggest problem on using deep forest in survival analysis tasks is how to design good augmented features. In survival analysis, our main concern is the survival predicting function that takes time steps `t` as

[2021-04-20 21:07] yunwezhang commented on #71
Hi Yixuan,

Yes, you are right about the time steps, the input part of survival models requires a 2-dim thing as the outcome (time+binary status, where this binary means censored or not) but the output is usually a 1-dim vector, either "risk" or "probability" (as in binary classification).

As for the augmented feature steps, i assume you are talking about this part in the model structure?
![image

[2021-04-21 02:35] NullLimite opened #72 "Is it possible to use FPGA acceleration?"

[2021-04-21 05:53] xuyxu commented on #72
Hi @NullLimite, this should be possible since FPGA acceleration on random forests has been extensively studied in the literature. However, hardware-level acceleration is clearly beyond the development purpose of this package.

We are happy to have your work posted [here](https://deep-forest.readthedocs.io/en/latest/report_from_users.html) if U are going to work on this.

[2021-04-21 05:53] #72 closed

[2021-04-21 06:14] xuyxu commented on #71
Thanks for your kind explanations @yunwezhang.

No, the second figure posted by you shows the multi-grained scanning part, which is not included in this package, since tree ensembles are typically not the best choice for structured data such as images or audios. Augmented features refer to part of the input for hidden cascade layers. For classification, they are predicted class probabilities; For

[2021-04-21 07:40] yunwezhang commented on #71
Hi Yixuan,

Thanks for the fast reply. I am aware that the multi-grain scanning is not included and that's why I asked why do you have the part (first figure) in your model structure instead of starting from the cascade forest.

Answer for the further questions:
1. To me, RSF yes. There are some DNN based survival models also considered stated-of-art.  (But RSF has the best performance in general

[2021-04-21 07:57] xuyxu commented on #71
The binner in that figure is used to reduce the number of splitting candidates for the sake of acceleration (not used in the original deep forest model). The entire architecture does correspond to the cascade forest structure.

Besides, I have opened up a feature request in sksurv [(link)](https://github.com/sebp/scikit-survival/issues/194), deep forest could benefit from using a mixture of `Rando

[2021-04-21 08:03] yunwezhang commented on #71
got it!
yes, let's wait for the reply. To have that extra injection of randomness, it would be better to have ExtraSurvivalTrees.

[2021-04-23 07:12] xuyxu commented on #71
Realizing that we can implement `ExtraSurvivalTrees` by importing `sksurv` as a soft dependency, I think we could work on this feature request without extra helps from that  community.

If you are interested in extending deep forest to the field of survival analysis, could you contact me through an e-mail [(Address)](mailto:xuyx@lamda.nju.edu.cn), so that we can have more discussions before openin

[2021-04-29 08:17] xuyxu commented on #71
Closed via #14.

[2021-04-29 08:17] #71 closed

[2021-05-01 03:00] wlmszdnb opened #75 "如何获取特征变量重要性排序"
DF可以像RF一样获得到特征的重要性排序吗

[2021-05-01 03:04] xuyxu commented on #75
Hi @wlmszdnb, the answer is YES.

To get the importance, first train a DF model with `backend` set to `"sklearn"`, then you can use the `get_layer_feature_importances` function to obtian the feature importance per layer.

More info available [here](https://deep-forest.readthedocs.io/en/latest/api_reference.html#get_layer_feature_importances).

[2021-05-01 08:17] niceban opened #76 "Has sub-partition been implemented now?"
Hello I am a new user of deep-forest.
I've read the intro slide. Could you tell me that the `sub-partition` method of `Distributed representation learning` been implemented or not by now.
Thank you so much.
@xuyxu

[2021-05-01 08:18] niceban commented on #76
I mean this part
![image](https://user-images.githubusercontent.com/8471303/116775985-c9a95200-aa98-11eb-8cea-1b8eccfd3b03.png)

[2021-05-01 08:21] xuyxu commented on #76
Hi @niceban, I think this slide demonstrates the effectiveness of distributed representations, and is not much related to this repo from my point of view. If you are referring to the corresponding work, please refer to [mGBDT](https://github.com/kingfengji/mGBDT), thanks ;-)

[2021-05-04 07:05] wlmszdnb opened #77 "DF内部如何进行特征选取？"
请问DF进行特征选取的过程是怎样的

[2021-05-04 08:07] xuyxu commented on #77
Hi @wlmszdnb, by default, DF does not adopt any strategy on feature selection.

[2021-05-07 09:11] Colin1592 opened #78 "Multi-Grained Scanning"
Hi! I am learning deep forest, and I come across a question. That is when we do sliding, say we have 400-dim raw input features, and then we generate 301 instances with size of 100, for the first instance, we train a forest, and then the second instance comes, so the second instance is input into the first forest or used to train another forest? In other words, in multi-grained scanning part, we t

[2021-05-07 11:36] xuyxu commented on #78
Hi @Colin1592, I am not sure that if I understand your question correctly :-(

Suppose that you are given a training data of size `(N, 400)` (`N` the number of training instances), then after sliding, the training data turns into `(N*301, 100)`. This new training data will be used to train multiple forest models, as detailed in the original paper.

[2021-05-07 11:38] xuyxu commented on #75
Closed due to inactivity.

[2021-05-07 11:38] #75 closed

[2021-05-07 11:59] wlmszdnb opened #79 "DF的验证集的划分比例？"
我们知道DF会自动将训练集划分一部分验证集，请问这个划分的比例是？

[2021-05-07 12:03] #79 closed

[2021-05-12 03:17] xuyxu commented on #77
Closed due to inactivity.

[2021-05-12 03:17] #77 closed

[2021-05-12 03:17] xuyxu commented on #78
Closed due to inactivity.

[2021-05-12 03:17] #78 closed

[2021-05-12 03:17] xuyxu commented on #27
Closed via #14

[2021-05-12 03:17] #27 closed

[2021-05-12 03:18] xuyxu commented on #12
Closed via #14

[2021-05-12 03:18] #12 closed

[2021-05-17 15:05] Colin1592 commented on #78
If the input data is (N, 400), after sliding, the training data turns into (N*301, 100), if we use the new training data to train a forest, we just get a 3-dim classification distribution.  But In my opinion, I think the after sliding, training data will be 301*(N, 100), and we can get 301 * 3-dim classification. But if the case is what i think, different fetures will train differnt forest. So I a

[2021-05-19 13:04] akosichesca opened #82 "Does not understand character buffer dtype format string"
I keep having this errors:

Traceback (most recent call last):
  File "classification.py", line 18, in <module>
    model.fit(X_train, y_train)
  File "/afs/crc.nd.edu/user/a/alaguna/Documents/OngoingResearch/Forest/Deep-Forest/deepforest/cascade.py", line 1418, in fit
    super().fit(X, y, sample_weight)
  File "/afs/crc.nd.edu/user/a/alaguna/Documents/OngoingResearch/Forest/Deep-Forest/deepfores

[2021-05-19 14:24] #82 closed

[2021-05-29 06:55] JiaLeXian opened #84 "take() got an unexpected keyword argument 'axis'"
Got error with code:
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from deepforest import CascadeForestClassifier

model = CascadeForestClassifier(random_state=1)
model.fit(X_train, y_train)

---------------------------------------------------------------------------
TypeError

[2021-05-29 13:00] xuyxu commented on #84
Hi @JiaLeXian, thanks for reporting! I will take a look at vaex when get a moment. For now, you can manually convert your data into numpy array in order to use deep fprest.

[2021-05-30 02:53] xuyxu commented on #84
It looks like vaex does not support slicing (https://github.com/vaexio/vaex/issues/911), which is an essential operation in deep forest, e.g., bootstrap sampling when building random forests. At least for now, this problem cannot be solved :-(

Thanks for reporting anyway.

[2021-06-01 23:04] JiaLeXian commented on #84
Hi @xuyxu, thanks for investigating the problem. Appreciated! So, for DF, it's best to use numpy array or original pandas dataframe?

In our case, we have more than 100 million rows of data. That's why we use vaex to load the data to reduce memory occupation.  We still want to try DF on our dataset. We will explore other ways to try. Thank you!

[2021-06-02 01:45] xuyxu commented on #84
Could you take a look at [`numpy.memmap`](https://numpy.org/doc/stable/reference/generated/numpy.memmap.html), it looks like there is also no need to load the entire dataset into the memory with `memmap`.

Besides, feel free to tell me if you have any problem when trying out this solution ;-). We are willing to further improve the functionality of DF when faced with such large datasets.

[2021-06-02 06:32] JiaLeXian commented on #84
@xuyxu thanks for the quick reply. Thanks for suggesting numpy.memmap. We will try this option in the following days. Will keep you posted. Thank you!

[2021-06-25 03:18] BinchaoPeng opened #85 "how to train it with large trainset？"
hi，I would to know whether deep forest could support minibatch like DL？

[2021-06-25 03:21] xuyxu commented on #85
Hi @BinchaoPeng, this is not possible since training a traditional decision tree is a one-pass procedure that requires all training data to be available first.

[2021-06-25 07:02] BinchaoPeng commented on #85
okay，thanks very much！

[2021-06-25 07:02] #85 closed

[2021-07-13 09:04] IncubatorShokuhou opened #87 "[BUG] `CascadeForestRegressor` somehow cannot be inserted into a DataFrame"
**Describe the bug**
 `CascadeForestRegressor` somehow cannot be inserted into a DataFrame

**To Reproduce**
[code]

**Expected behavior**
No error

**Additional context**
[code]

This bug can be simpliy fixed if we change `if not 0 <= layer_idx < self.n_layers_:` to `if not 0 <= layer_idx <= self.n_layers_:`, but I still don't know the cause of this error and whether this fix is corret.

[2021-07-13 12:54] xuyxu commented on #87
Hi @IncubatorShokuhou, I would like to ask that what is the purpose of storing the model in a pandas dataframe?

[2021-07-13 13:39] IncubatorShokuhou commented on #87
@xuyxu Actually I am trying to integrate deep-forest into [PyCaret](https://github.com/pycaret/pycaret).  In theory, PyCaret supports all ml algorithms with scikit-learn-Compatible API. In practice, most models, including xgboost, lightgbm, catboost, ngboost, explainable boosting matching et al. can be easily integrated.

Here is the example code:
[code]
During the integration, I met 2 errors: 1.

[2021-07-13 13:43] xuyxu commented on #87
Thanks for your kind explanations! I will take a look at your PR first ;-)

[2021-07-13 13:44] IncubatorShokuhou commented on #87
BTW, could you please telling me why a local implementation of `RandomForestClassifier` instead of `sklearn.ensemble.RandomForestClassifier` is used in line 50 of https://github.com/LAMDA-NJU/Deep-Forest/blob/master/deepforest/cascade.py#L50 . And in https://github.com/LAMDA-NJU/Deep-Forest/blob/master/deepforest/cascade.py#91, is this simply equal to `import lightgbm.sklearn as lgb` ?

[2021-07-13 13:50] xuyxu commented on #87
`sklearn.ensemble.RandomForestClassifier` is too slow when fitted on large datasets with millions of samples

We prefer to treat lightgbm as a soft dependency. If we use `import lightgbm.sklearn as lgb` in the front, the program will raise an ImportError if lightgbm is not installed, which is not the case we want.

[2021-07-13 13:53] IncubatorShokuhou commented on #87
I see. So maybe I can write a simple GPU version for the three models using `cuML.ensemble.RandomForest` and `gpu_hist` ?

[2021-07-13 13:58] xuyxu commented on #87
The performance would be much worse since Random Forest in cuML is not designed for the case where we want the forest to be as complex as possible (it does not support unlimited tree depth).

[2021-07-13 15:44] IncubatorShokuhou commented on #87
I see.

[2021-07-14 04:38] IncubatorShokuhou commented on #87
@xuyxu I think I have figure out the reason of this error.
In https://github.com/pandas-dev/pandas/blob/64559124a4de977e1d5cd09e6d80fbb110d3a6ea/pandas/core/dtypes/cast.py#112 , `pandas` will first identify whether the object has a `__ len__` method. If true, `pandas` will try to transform this list-like object(aka CascadeForestRegressor())  in a 1-dimensional numpy array of object dtype via `cons

[2021-07-14 04:38] IncubatorShokuhou commented on #87
I am going to create a PR and fix this error ASAP.

[2021-07-14 15:15] learningelectric opened #89 "A idea about future: Transfer learning based on Deep forest ?"
Is it possible that deep forest-based migration learning will appear in this library in the future ? Because I find that the transfer ability of the model is very important in practical engineering tasks and many academic papers. If deep-forest can also be applied in the field of transfer learning, it will be very competitive compared to neural networks. Thank you very much!

[2021-07-14 15:18] xuyxu commented on #89
Hi @learningelectric, thanks for your ideas. Is there any paper on using forest for transfer learning?

[2021-07-15 09:45] learningelectric commented on #89
Dear @xuyxu .

Thank you very much for your prompt reply!

Firstly, since the deep-forest is a very powerful decision tree model, if the decision tree or random forest can be migrated[1-3], then the deep-forest should also be able to be migrated in theory. Of course, this is just an assumption of mine, and may be wrong and difficult. But in my current study, deep forests are competitive with neura

[2021-07-15 13:29] #87 closed

[2021-07-18 07:10] zhenlingcn opened #90 "Could you provide a parameter grid for deep-forest?"
I am glad to see that such a method has achieved promising results on many machine learning tasks. However, in real world scenario, we often tune the hyper-parameter of a specific classifier based on cross-validation scheme. Currently, I am working on constructing a machine learning benchmark, and I believe that a proper set of the parameter grid is vital for fairly comparing the performance betwe

[2021-07-19 13:41] xuyxu commented on #90
Hi @zhenlingcn, does this [page](https://deep-forest.readthedocs.io/en/stable/parameters_tunning.html) help?

[2021-07-21 08:04] zhenlingcn commented on #90
Okay, thanks for your response. This page is helpful.

[2021-07-21 08:04] #90 closed

[2021-07-25 16:43] MAbderrahmane commented on #78
Hello @Colin1592 I think the author mean 301 new sampled training set instead of 301 instances
Suppose X : Training set ( 1000 instances, 400 features), Window size = 100
After Sliding window procedure we will get a 301 * (1000 instances, 100 features)

[2021-08-02 03:42] IncubatorShokuhou commented on #89
I believe that what we really need may be an incremental learning method (i.e. `partial_fit`). With this method, we can not only implement tranffer learning, but distributed trainning (with `dask` and `rabit`) will also be possible.

[2021-08-02 04:37] xuyxu commented on #89
The incremental version of deep forest is not a trivial task, but may be out of the scope of the current design. You are feel free to work on it, or even write a research paper accordingly.

[2021-08-02 06:34] learningelectric commented on #89
OK, thank you very much!

[2021-08-02 06:34] #89 closed

[2021-08-19 07:00] BinchaoPeng opened #91 "gpu support and sklearn support"
请问现在可以支持gpu了吗?另外是否支持sklearn的gridSearchCV呢？

[2021-08-19 09:18] IncubatorShokuhou commented on #91
@BinchaoPeng 可以自定义estimators和predictor，然后使用支持gpu的评估器作为estimator和predictor

[2021-08-19 09:32] IncubatorShokuhou opened #92 "[BUG] cannot correctly clone `CascadeForestRegressor` with `sklearn.base.clone` when using customized estimators"
**Describe the bug**
cannot correctly clone `CascadeForestClassifier`/`CascadeForestRegressor` object with `sklearn.base.clone` when using customized stimators

**To Reproduce**
[code]

**Expected behavior**
No error

**Additional context**
[code]

This bug occours because when the model is cloned, if the model has customized predictor or estimators, `backend='custom'` and `predictor='custom'` wil

[2021-08-19 10:03] IncubatorShokuhou commented on #91
另外，如果你不自定义estimator和predictor的话，cv应该是没问题的。但是如果你[用了customized estimators](https://deep-forest.readthedocs.io/en/stable/advanced_topics/use_customized_estimator.html)的话，那就会出bug了，因为cv里面会用到`sklearn.base.clone` (见https://github.com/scikit-learn/scikit-learn/blob/main/sklearn/model_selection/_search.py#L769)

[2021-08-19 12:42] BinchaoPeng commented on #91
确实，`GridSearchCV`是没有问题的，至于自定义，不知道你们有带有gpu版本的demo吗？看过了文档感觉还是不知道如何下手。

[2021-08-19 13:00] xuyxu commented on #92
Thanks for reporting, will take a look during the weekend.

[2021-08-19 13:06] xuyxu commented on #91
感谢 @IncubatorShokuhou 的说明。关于使用GPU，可以考虑使用cuml中的随机森林：https://docs.rapids.ai/api/cuml/stable/api.html#random-forest

[2021-08-19 13:14] BinchaoPeng commented on #91
好的，谢谢，我去看看

[2021-08-19 13:17] xuyxu commented on #91
如果准备尝试的话，十分欢迎您在这个issue下面进行反馈 ;-)

[2021-08-19 13:22] BinchaoPeng commented on #91
恩恩，好的，希望这个project可以实现gpu支持和sklearn支持

[2021-08-19 14:34] BinchaoPeng commented on #91
还是报错了，关于`GridSearchCV`的：
[code]

[2021-08-19 14:37] xuyxu commented on #91
好的，我周末研究一下。

[2021-08-20 07:09] BinchaoPeng commented on #91
(class_)[https://blog.csdn.net/cxx654/article/details/106727812/]
(decision_funtion)[https://blog.csdn.net/u014765410/article/details/82924377?utm_medium=distribute.pc_relevant_t0.none-task-blog-2%7Edefault%7EBlogCommendFromMachineLearnPai2%7Edefault-1.control&depth_1-utm_source=distribute.pc_relevant_t0.none-task-blog-2%7Edefault%7EBlogCommendFromMachineLearnPai2%7Edefault-1.control]
这两个链接或许有用

[2021-08-23 15:20] BinchaoPeng commented on #91
请问你搞定了吗？发现不结合网格搜索和交叉验证这两个功能，不好实用，建议还是接入sklearn比较好

[2021-08-24 08:49] BinchaoPeng opened #93 "怎样动态定义CascadeForestClassifier"
我需要进行网格搜索，那么我需要动态定义CascadeForestClassifier，就需要把字典形式的参数组传入CascadeForestClassifier生成，但是CascadeForestClassifier好像没有这方面的函数

[2021-08-24 09:11] #93 closed

[2021-09-06 01:24] BinchaoPeng opened #94 "【help】params tuning"
for my experiment,I set params like this:
[code]

finally, the experiment shows same result with different `predictors` when `use_predictor` is `True`, and different `max_laters` can also get same result.

I would like to konw the situation is correct?

[2021-09-06 04:29] flippercy opened #95 "Is it possible to add monotone_contraints for deep forest?"
Hi @ThyrixYang, @chendingyan, @xuyxu:

First, thank you for the great library!

I am wondering whether it is possible to add monotone_contraints like what lightgbm/xgboost has to deep forest. This feature is requested for most models used by highly-regulated industries such as financial services, in which the domain knowledge must be respected and followed.

Theoretically, if we specify the monoto

[2021-09-09 07:07] learningelectric opened #96 "Hello! I want to visualization of feature extraction capability of Deep Forest ! like DNN."
Unfortunately, I do not know how to find the augmented feature to visualization of feature extraction capability of Deep Forest !
 If I get the augmented feature from Deep forest, I can using t-SNE tool to make beautiful plot.
The more detail can get in

https://scikit-learn.org/stable/auto_examples/manifold/plot_t_sne_perplexity.html#sphx-glr-auto-examples-manifold-plot-t-sne-perplexity-py
------

[2021-09-10 03:13] py666888 commented on #91
请问不自定义分类器，现在支持网格搜索调参吗？

[2021-09-12 03:12] xuyxu commented on #96
Hi @learningelectric, thanks for this good question!

The augmented features are available [here](https://github.com/LAMDA-NJU/Deep-Forest/blob/master/deepforest/cascade.py#L870), i.e., the variable `X_aug_train_`.

However, getting this variable through hooking currently is not supported. Therefore, my suggestion is

(1) Follow this [guide](https://deep-forest.readthedocs.io/en/stable/installatio

[2021-09-12 04:15] learningelectric commented on #96
I sincerely appreciate your help !

[2021-09-12 04:22] xuyxu commented on #96
Closed

[2021-09-12 07:09] BinchaoPeng commented on #91
需要自己实现，不支持sklearn，按照sklearn的方式实现就可以了

[2021-09-14 05:28] py666888 commented on #29
您好，请问如果我想自定义决策树的分裂指标，应该如何进行？

[2021-09-14 05:33] py666888 commented on #29
您好，请问我自定义n_estimators =2（默认），但是级联结构是两种森林组成，那么每一层就是4个森林。如果我把n_estimators =2（默认），use_predictor =True，predictor='XGBoost'，那么每一层的结构是只有2个XGboost吗？这样的话，假如我想级联2种自定义的分类器，应该怎么设置呢？

[2021-09-14 05:38] py666888 commented on #29
您好，请问我设置n_estimators =2（默认），由于级联结构每一层是两种森林组成，那么每一层就由4个森林。如果我把参数进行如下设置：n_estimators =2（默认），use_predictor =True，predictor='XGBoost'，那么每一层的结构是只有2个XGboost吗？如果这样的话，假如我想级联2种自定义的分类器，比如我想级联随机森林和XGBoot应该如何进行设置呢？还有一个问题，如果我想自定义决策树特征分裂的依据，应该在哪个地方进行修改，如何设置？非常感谢您的耐心答复

[2021-09-14 05:42] py666888 commented on #29
你好，请问我设置n_estimators =2（默认），由于级联结构每一层是两种森林组成，那么每一层就由4个森林组成。如果我把参数设置如下：n_estimators =2（默认） ，use_predictor =True，predictor='XGBoost'，那么每一层的有2个XGboost吗？应该如何进行设置？还有一个问题，如果我想自定义决策树分支的论点，应该在哪个地方进行修改，如何？非常感谢您的支持答复设置呢？

[2021-09-14 05:43] py666888 commented on #29
你好，请问我设置n_estimators =2（默认参数），由于级联结构每一层是两种森林组成，那么每一层就由4个森林组成。如果我把设置如下：n_estimators =2（默认） ，use_predictor =True，predictor='XGBoost'，那么每一层有2个XGboost吗？应该如何进行设置？还有一个问题，如果我想自定义决策树分支的论点，应该在地方进行修改，如何？非常感谢您的支持设置呢？

[2021-09-14 05:57] py666888 commented on #29
我设置n_estimators =2（默认参数），论文中提到由于级联结构每一层是两种森林组成，那么每一层就是4个森林组成。如果我进行设置如下：n_estimators =2（默认） ，use_predictor =True，predictor='XGBoost'，那么级联结构中是只有一种分类器XGBoost，那么每一层的结构是只有2个XGboost吗？如果我想设置2个随机森林和2个XGBoost作为每一层的级联结构，应该如何进行设置？还有一个问题，如果我想自定义随机森林中的决策树特征分裂标准，应该在地方进行实现呢？

[2021-09-14 05:58] py666888 commented on #29
我设置n_estimators =2（默认参数），论文中提到由于级联结构每一层是2种森林组成，那么每一层就是4个森林组成。如果我进行设置如下：n_estimators =2（默认） ，use_predictor =True，predictor='XGBoost'，那么级联结构中是只有一种分类器XGBoost，那么每一层的结构是只有2个XGboost吗？如果我想设置2个随机森林和2个XGBoost作为每一层的级联结构，应该如何进行设置？还有一个问题，如果我想自定义随机森林中的决策树特征分裂标准，应该在地方进行实现呢？

[2021-09-14 07:20] #96 closed

[2021-09-23 12:23] yjx4131 opened #97 "AttributeError: module 'deepforest' has no attribute 'CascadeForestClassifier'"
the CascadeForestClassifier function cannot be imported.
I can import deep forest (import deepforest)

[2021-09-29 15:59] flippercy commented on #95
@xuyxu Any updates, please?

[2021-10-12 03:21] #95 closed

[2021-10-12 15:31] flippercy opened #98 "Could you let users choose the evaluation metrics for cascading?"
Hi:

I've noticed that for CascadeForestClassifier, accuracy is used as the evaluation metric for cascading. Is it possible to add a parameter to let users choose other metrics such as AUC or logloss?

Thank you.

[2021-10-13 00:41] xuyxu commented on #98
This would be a great idea to work on. Will appreciate a PR very much ;-)

[2021-10-15 19:00] flippercy opened #99 "Has scanning been excluded from the current deep forest algorithm?"
Hi @ThyrixYang, @xuyxu:

Has the scanning step been excluded from the current deep forest algorithm? It's been described thoroughly in different versions of papers on DF but obviously not implemented in the python package; instead, based on the model architecture, binned raw data is used as the starting point for cascading.

Thank you.

[2021-10-26 10:44] #98 closed, assigned to nobody

[2021-11-27 10:13] simonprovost opened #100 "[Question] n_estimators how does it works?"
Hi all,

To begin, I want to express my gratitude for this amazing research on an easier-to-take DL model than the ones that are typically discussed. However, I do have a few concerns. The following is stated in the n estimators:

Which first, I believe, stems from the reality that we require as much diversity as possible? [Zhou et al., 2012]
However, if we use RF or XGBOOST as the base learner, w

[2021-11-27 11:51] simonprovost opened #101 "[Question] use custom estimator to tackle imbalanced datasets"
Hi All,

As I expressed previously in another post, I want to express my gratitude for your amazing research. I am delighted you found time in your library to deal with custom estimators. However, I am having difficulty with the following:

Assume I develop the following implementation (using imblearn) and obtain an AUROC score of 0.62:
[code]

According to the reviews I've been reading regarding

[2021-11-27 12:55] xuyxu commented on #100
Hi @simonprovost, if `n_estimator` is set to `N`, the model will build `N` RandomForestClassifier and `N` ExtraTreesClassifier for each cascade layer by default. However, if you are going to use the customized estimators, the number of base learners in each cascade layer simply equals the length of the list passed to the `set_estimator` method.

[2021-11-27 12:57] simonprovost commented on #100
Amazing @xuyxu  thank you very much it was another thought I had too. I'll close as it's done.

[2021-11-27 12:57] #100 closed

[2021-11-27 12:58] xuyxu commented on #101
Hi @simonprovost, is the dataset publicly available? If the answer is yes, I am willing to take a closer look ;-)

[2021-11-27 13:05] simonprovost commented on #101
@xuyxu Unfortunately, because it is a medical application, the surgeon will not allow such data to be publicly available for the time being, I am very sorry. I could, however, tell you a little about it to inform you. It is severely imbalanced to begin with (class 0: 95%), (class 1: 5 %). Because we are addressing rare diseases, we have to face this constraint and must overcome it instead of addin

[2021-11-27 13:22] simonprovost commented on #101
@xuyxu  Note: Several approaches for under/over sampling have been attempted, and the balanced random forest appears to be the best at the moment. I could provide you with a latex table listing all strategies we have attempted and their associated results for various metrics.

[2021-11-28 15:43] xuyxu commented on #101
Thanks for your kind reply @simonprovost. The possible reason is that the cascade structure of deep forest may not be suited for the imbalanced dataset (which has not been extensively studied before, and needs more empirical evidence). Maybe you could try out another publicly available dataset used for imbalanced classification, and see if deep forest with multiple layers outperforms one single la

[2021-11-28 15:54] simonprovost commented on #101
That is an intriguing beginning place. Do not you believe that increasing diversity would be beneficial? However, as a junior in the field yet, I am unsure of how diverse it should be or what type of base learner would help increase diversity. However, I have noticed this work that is a fork of your original DF paper: https://link.springer.com/article/10.1007/s00500-020-05279-8 Perhaps Dr. Gao has

[2021-11-29 15:31] xuyxu commented on #101
I am sorry, but we are not familiar with the authors of this paper. Maybe you could directly make contact with the corresponding author, and ask if they could provide you with the code.

I am a little confused about the statement "DF and a small quantity of data perform significantly better than a vanilla ML model", what kind of ML model are you referring to?

If it indicates the vanilla deep fore

[2021-11-29 15:56] simonprovost commented on #101
My complete blunder I believe it was too late yesterday and thus assumed it was a publication by the same university's team. However, it is not; I will contact them and respond to you on this post in order to assist any other comers, but we could close the issue nevertheless.

I believe the phrase "vanilla" was misconstrued on my part. What I meant is that the Deep Forest (your implementation) wit

[2021-12-01 13:40] xuyxu commented on #101
Thanks for your great work @simonprovost, hoping to see your publication in the near feature ;-)

[2021-12-01 13:40] #101 closed

[2021-12-09 13:33] simonprovost opened #102 "Layer with the key layer_0 already exists in the internal container"
Hi guys,

I would like to use the following code to conduct my deep forest configuration (i.e., with my custom base estimators) within a k-fold cross validation process:

[code]
Note: The model here has been declared it is the CascadeClassifier.

However, on the second loop, I received the following error: **'RuntimeError: Layer with the key layer 0 already exists in the internal container.'** Thi

[2021-12-09 15:39] xuyxu commented on #102
Thanks for reporting @simonprovost, will take a look at this in a few days ;-)

[2022-01-03 11:02] xuyxu commented on #102
Sorry for the late response @simonprovost, to use cross validation with deep forest, I think that you should declare your deep forest model **inside the loop**. Simply calling the `fit` method several times inside the loop is essentially refitting the model, which is a functionality not supported yet.

[2022-01-07 03:06] Alaya-in-Matrix opened #103 "Model crashes for very small data"
When experimenting the DF model with toy dataset, I found that the model fitting crashes when the training size is very small, the below code can be used to reproduce this bug

[code]

Below is the error message;

[code]

[2022-01-07 04:26] xuyxu commented on #103
Hi @Alaya-in-Matrix, what is the version of numpy installed.

[2022-01-10 06:30] Alaya-in-Matrix commented on #103
@xuyxu It's numpy 1.19.5

[code]

[2022-01-16 07:43] xuyxu commented on #103
The regression demo works fine with your package environment:

[code]

In addition, the `CascadeForestRegressor` also works fine if using `xs = np.random.randn(10,1)` in your code snippet. The exception possibly roots from too few number of samples.

[2022-01-17 01:27] Alaya-in-Matrix commented on #103
@xuyxu That's exactly what I'm reporting, why would DF work for `xs = np.random.randn(10,1)` but not work for `randn(5,1)`? that makes no sense

[2022-01-21 06:43] xuyxu commented on #103
Closed via #14

[2022-01-21 06:43] #103 closed

[2022-03-31 23:13] JohnTaco93 opened #104 "can't get the features importance, please provide an example."
#code:
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.base import clone
from deepforest import CascadeForestRegressor
import xgboost as xgb
import lightgbm as lgb

X, y = load_boston(return_X_y=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
model = CascadeFore

[2022-04-01 03:34] xuyxu commented on #104
Hi @JohnTaco93 , in order to get feature importance, please use `model = CascadeForestRegressor(random_state=1, backend='sklearn')`. The functionality of feature importance is discarded for the sake of memory efficiency when using the default backend `custom`.

More info is available at https://deep-forest.readthedocs.io/en/latest/api_reference.html#deepforest.CascadeForestRegressor

[2022-04-01 19:29] JohnTaco93 commented on #104
Hello, thanks! it worked!

[2022-04-01 19:29] #104 closed

[2022-04-18 02:51] malajing commented on #99
I have the same question too.

[2022-04-18 02:55] xuyxu commented on #99
Please refer to #26 @malajing

[2022-04-18 03:01] malajing commented on #99
谢谢~

[2022-04-18 16:43] JohnTaco93 opened #105 "Matrix as an input of CascadeForestClassifier"
I am working with multivariate time series classification and would like to work with the raw data as the input of the deep forest model. I think it should be similar to the 1D CNN in which the input, in my case, is a matrix of [1643x1250x3]. This means that I have 1643 samples and each sample is a matrix of 1250x3. I want to do the same with deep forest but when I use the cascade classifier I get

[2022-04-19 02:34] xuyxu commented on #105
Hi, @JohnTaco93, this version of deep forest focuses on tabular data only. For time series data, one possible solution is to first use feature extraction techniques (e.g., [tsfresh](https://tsfresh.readthedocs.io/en/latest/text/introduction.html)) to transform your data into a non-ordinal dataset (`[1643x1250x3] -> [1643, N]`, `N` the number of features generated by tsfresh).

[2022-05-05 12:04] 609347781 commented on #41
ValueError: CascadeForestRegressor is used for univariate or multi-variate regression, but the target values seem not to be one of them.
您好我也遇到了这个问题，设置backend="sklearn"还是会报错，是不是我这边标签列只有0.1的原因（分类的代码可以正常运行）
以下我的数据读取部分
Data = pd.read_excel(r'D:\秭归-巴东段易发性基础数据\第二次实验\预测数据\整体数据.xlsx')
Feature = Data.iloc[1:578158,4:14].values
Label = Data.iloc[1:578158,1].values
print(Label)
print('数据已读取')
#-标准化处理
StandP

[2022-05-05 12:04] 609347781 commented on #41
rf1 = CascadeForestRegressor(backend="sklearn")
rf1.fit(xTrain,yTrain)
pred_value=rf1.predict(xTest)

[2022-05-05 12:07] xuyxu commented on #41
你好，数据集的标签列既然只有0、1取值，为啥要用`CascadeForestRegressor`?

[2022-05-05 12:12] 609347781 commented on #41
我也不想做回归的，但是这边后续用所得的概率是做一个地质方面的图，回归模型出的图好看一点（水paper），就用回归模型了

就如果是分类，把最后分类器的是哪一类的概率输出也行，但是我没找到怎么弄，分类器都封装好了...

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Yi-Xuan ***@***.***&gt;;
发送时间: 2022年5月5日(星期四) 晚上8:08
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [LAMDA-NJU/Deep-Forest] Error: could not allocate 0 bytes (#41)

你好，数据集的标签列既然只有0、1取值，为啥要用CascadeForestRegresso

[2022-05-05 12:15] xuyxu commented on #41
请尝试调用`CascadeForestClassifier`的`predict_proba`方法，它会返回每个样本属于正类的概率

[2022-05-05 12:16] 609347781 commented on #41
用sklearn里的随机森林模型也可以正常运行，之前的图就是用随机森林做的，0-1区间概率用绿红渐变色做一下图

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "LAMDA-NJU/Deep-Forest"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月5日(星期四) 晚上8:08
***@***.*

[2022-05-05 12:23] 609347781 commented on #41
thanks！

[2022-05-10 14:45] xuyxu commented on #105
Closed due to inactivity

[2022-05-10 14:45] #105 closed

[2022-05-10 14:46] xuyxu commented on #102
Closed due to inactivity

[2022-05-10 14:46] #102 closed

[2022-05-10 14:47] xuyxu commented on #97
Closed, please provide more details and reopen the issue if needed.

[2022-05-10 14:47] #97 closed

[2022-05-10 14:48] xuyxu commented on #99
Closed due to inactivity.

[2022-05-10 14:48] #99 closed

[2022-05-10 14:49] xuyxu commented on #94
Please provide more details (e.g., script on the entire training pipeline) and reopen the issue if needed.

[2022-05-10 14:49] #94 closed

[2022-05-10 14:50] simonprovost commented on #102
@xuyxu No worries; I apologise for the delayed response. We were able to independently do cross validation by combining it into a background loop and averaging the results. It worked effectively. Hopefully, the DF will include this feature in the near future; Otherwise, I will submit a pull request as soon as feasible during the year/next year.

Cheers !

[2022-05-10 14:51] xuyxu commented on #102
Let me know if you need any help, thanks ;-)

[2022-05-23 14:39] shawzw opened #106 "Error in feature importance acquisition"
![image](https://user-images.githubusercontent.com/49910555/169842811-1d540ebe-8340-47de-bda8-60ed331af109.png)
CascadeForestRegressor: model.get_layer_feature_importances(0)
Error: Please use the sklearn backend to get the feature importances property for each cascade layer.

"This method is only applicable when deep forest is built using the sklearn backend" I'm not quite sure what that means

T

[2022-05-24 00:55] xuyxu commented on #106
Hi @shawzw, please set `backend="sklearn"` when instantiating the model, more details avaiable at https://deep-forest.readthedocs.io/en/latest/api_reference.html#deepforest.CascadeForestClassifier

[2022-05-26 04:59] xuyxu commented on #106
Closed.

[2022-05-26 04:59] #106 closed

[2022-05-30 05:53] PowderL opened #107 "Does the package already support Multi-Grained Scanning as the old package gcForest?"
I didn't find any parameters related to the **Multi-Grained Scanning** operation. So, does the package already support Multi-Grained Scanning as the old package [gcForest](https://github.com/kingfengji/gcForest)?

Beyond this, I have a question related to the model training process. **Multi-Grained Scanning** generates a bag of instances for each original sample by sliding the window on the origin

[2022-05-31 05:36] xuyxu commented on #107
Please read the start of README.md for details.

The latter one.

[2022-05-31 05:36] #107 closed

[2022-05-31 07:24] PowderL commented on #107
Is that mean **Multi-Grained Scanning** is not suitable for tabular data?

[2022-05-31 10:02] PowderL commented on #107
Ok, thanks for your reply.

[2022-05-31 16:10] MohammadSoltani100 opened #108 "importing error"
Got this erroe with importing

ImportError                               Traceback (most recent call last)
Input In [59], in <cell line: 24>()
     22 import time
     23 import io
---> 24 from deepforest import CascadeForestRegressor
     25 import joblib
     26 from sklearn.utils.fixes import joblib

File ~\anaconda3\lib\site-packages\deepforest\__init__.py:1, in <module>
----> 1 from .cascade

[2022-06-01 04:43] xuyxu commented on #108
Hi @MohammadSoltani100, what is the version of scikit-learn you installed ?

[2022-06-06 08:42] Leopoldxxx opened #109 "How to apply shap model to DF model to interpret features?"
How to apply shap model to DF model to interpret features? I tried to apply it directly, but suggested that the model was not in the SHAP package.
https://github.com/slundberg/shap.
![image](https://user-images.githubusercontent.com/99156945/172126958-c6c7a4db-962b-4b2c-85e1-5aa4537917f9.png)
I suggest that the author improve the interpretability of the DF model,thanks.

[2022-06-06 11:08] xuyxu commented on #109
Hi @Leopoldxxx, deep forest is currently not supported by SHAP, which requires much work from contributors in that community ;-(

[2022-06-10 19:25] simonprovost opened #110 "GPU Support"
Hello there

Is there any indication of when / how DF21 will be able to run on GPUs as opposed to CPUs?

Just utilised DF21 for my research, and the results were notably greater than any other configuration! We are already acknowledged the original paper and Github page ✅

Cheers.

[2022-06-11 15:10] xuyxu commented on #110
Hi @simonprovost, the gpu version is not supported since the data structure and training process of decision tree in DF21 cannot by easily implemented. Is there amy issue with regard to running efficiency in your application ?

[2022-06-12 00:23] simonprovost commented on #110
Allright I understand. It is a little long and I presume on GPU it would be faster. (I am using custom heavy base learner I presume). No more cause of concern, thank you very much

[2022-07-11 17:54] bearinsuke opened #111 "The api for multi-grain"
Hi,

Thanks for the contribution!
I would like to ask where I can find the multi-grained scanning functions?  I can only find the implementation of the cascade part.

Thank you very much

[2022-07-11 20:33] simonprovost opened #112 "How to plot roc curve ?"
Dear Sir or Madam,

I was hoping you might provide us some guidance on how to visualise the roc curve of a pre-trained Deep Forest model.

For instance:

[code]

This did not work. Outputting the following:

[code]

[2022-07-12 15:05] xuyxu commented on #112
Hi, the `classes_` attribute is not reserved in deep forest. To solve your problem, one possible solution is to train a random forest classifier on your dataset, and then ingest its `classes_` attribute into the deep forest before calling `plot_roc_curve`, i.e., `model.classes_ = rf.classes_`.

[2022-07-12 15:05] xuyxu commented on #111
A duplicate of #107

[2022-07-12 19:04] simonprovost commented on #112
Amazing @xuyxu ! Thanks for the advice. It's implement ✅

Nevertheless, may I ask why you have not allocated classes_ for the final model? It is odd that, for instance, the AUROC curve is no longer showable. There might be technical reasons for that.

I am closing the issue anyway 🚀

[2022-07-13 11:55] xuyxu commented on #112
For improving the memory efficiency and inference speed, RandomForestClassifer in deep forest is implemented using arguablely the most compact data structure: four numpy arraies representing splitting feature, threshold, child node index, and prediction from leaf nodes, separately. Therefore, there is no room for another attribute `classes_`.

[2022-08-10 08:57] Maitreya229 opened #113 "ValueError: too many values to unpack (expected 2)"
Dear Sir,

I have 32 inputs and output 2 numbers (0, 1).

The same data works fine with gcForest,
But when using Deep-Forest, the following error message appears：
**Traceback (most recent call last):
  File "test_openface.py", line 124, in <module>
    model.fit(X_train, Y_train)
  File "C:\ProgramData\Anaconda3\envs\deepForest\lib\site-packages\deepforest\cascade.py", line 1397, in fit
    super(

[2022-08-10 13:42] xuyxu commented on #113
Hi @Maitreya229, could you show me the source code of `test_openface.py`

[2022-08-21 07:07] xuyxu commented on #113
Closed due to inactivity. Please reopen it if you could provide more information.

[2022-08-21 07:07] #113 closed

[2022-09-11 14:21] sjjsjsb opened #114 "cannot import name 'CascadeForestRegressor' from 'deepforest'"

[2022-09-12 04:55] xuyxu commented on #114
Hi @sjjsjsb, what's your version of deep-forest?

[2022-09-18 07:44] Kathy0217 commented on #114
Hello,I have the same problem. My deepforest version is 0.1.6

[2022-09-18 13:14] xuyxu commented on #114
@Kathy0217 Hi, what is your numpy version?

[2022-09-18 13:41] xuyxu commented on #114
This looks like a problem when building wheels. For a quick solution, I would suggest you to install the package from source, please follow the instructions [here](https://deep-forest.readthedocs.io/en/latest/installation_guide.html#building-from-source). We will figure out how to improve the compatibility of the wheel ASAP.

[2022-09-19 01:38] Kathy0217 commented on #114
Thank you so much. I have already solved the problem.

[2022-09-26 13:37] Thehonst commented on #97
ImportError: cannot import name 'CascadeForestRegressor' from 'deepforest',why?

[2022-09-29 06:30] trainma opened #118 "cant import CascadeForestRegressor"
Traceback (most recent call last):
  File "E:\Conda\lib\site-packages\IPython\core\interactiveshell.py", line 3369, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-3-80de5b0e023f>", line 1, in <cell line: 1>
    from deepforest import CascadeForestRegressor
  File "C:\Users\a1034\AppData\Local\JetBrains\Toolbox\apps\IDEA-U\ch-0\222.4167.29.plugins\python\he

[2022-10-08 14:51] xuyxu commented on #118
Closed due to inactivity.

[2022-10-08 14:51] #118 closed

[2022-10-08 14:52] xuyxu commented on #114
Closed due to inactivity.

[2022-10-08 14:52] #114 closed

[2022-10-17 15:11] rebel55555 commented on #109
Hi @Leopoldxxx , you can try using the following:

model = CascadeForestClassifier(random_state=1)
explainer = shap.Explainer(model.predict,X_val.values)
shap_values = explainer(X_val)
shap.plots.bar(shap_values)

It might work for you.

[2022-10-18 03:38] romfahrury opened #119 "pip install dee-forest didn't work in wsl2"
i was trying to install the package using wsl2. But the terminal raises an error:

`ERROR: Could not find a version that satisfies the requirement deep-forest (from versions: none)
ERROR: No matching distribution found for deep-forest`

i don't find any related articles or even stackoverflow post to solve this, please help me.

[2022-10-18 15:00] xuyxu commented on #119
Could you provide more information on your system? Or you could directly download the .whl file from [pyp](https://pypi.org/project/deep-forest/#files) that matches your system and python version. See if it could be successfully installed.

[2022-10-21 10:36] patgun16 commented on #119
I have the same problem running python 3.9.6 on M1 MacOs 12.6, and weirdly on Windows with Intel. Are there any known work arounds? Would appreciate it a lot!

[2022-10-23 11:11] patgun16 commented on #119
@xuyxu when compiling from source on the M1 MacBook Pro we get a clang error:

` clang: error: the clang compiler does not support 'faltivec', please use -maltivec and include altivec.h explicitly`

[code]